<!DOCTYPE html>
<html>
<head>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/socket.io/client-dist/socket.io.min.js"></script>
</head>

<body>
    <h1>Test page ({{server_name}})</h1>
    <div id="connectDiv">
        <input value="man" type="text" id="username" />
        <button id="connectButton">Connect</button>
    </div>

    <p>
        <video autoplay="true" width="200" id="myVideo"></video>
        <button id="getMedia">Get user media</button>
        <button id="createOffer">Create offer</button>
    </p>

    <div>
        <input value="woman" type="text" id="CallUsername" />
        <button id="callButton">Calling</button>
    </div>
<script>

    $('#callButton').on('click', (e) => {
        let url = '{{server_name}}/call';
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify({
                "login": $('#CallUsername').val(),
                "sid": window.sessionStorage.getItem('sid')
            }),
            contentType: "application/json",
            success: (data) => {
                console.log(data);
            },
        });
    });


    $('#connectButton').on('click', () => {
        const socket = io('{{socket_url}}', {transports:['websocket']}); 
        socket.on('connect', (msg) => {
            console.log('Connection was established');
            window.sessionStorage.setItem('sid',socket.id);
            socket.emit('login',{login: $('#username').val()});
            $('#connectDiv').hide();
        });

        socket.on('calling', (msg) => {
            console.log('Somebody calling you!!!!')
            console.log(msg);
        });

        socket.on('sender_offer', (msg) => {
            console.log('Request accepted!!!!')
            console.log(msg);
            offer(JSON.parse(msg.sender_offer));
        });


    })

    $('#getMedia').on('click', (e) => {
        init(e);
    })

    $('#createOffer').on('click', (e) => {
        offer(e);
    })

    const constraints = window.constraints = {
    audio: false,
    video: true
    };

    async function init(e) {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            console.log(stream);
            handleSuccess(stream);
            //e.target.disabled = true;
        } catch (e) {
            //handleError(e);
            console.log(e);
        }
    }

    function handleSuccess(stream) {
        const video = document.querySelector('#myVideo');
        const videoTracks = stream.getVideoTracks();
        console.log('Got stream with constraints:', constraints);
        console.log(`Using video device: ${videoTracks[0].label}`);
        window.stream = stream; // make variable available to browser console
        video.srcObject = stream;
    }

    const offerOptions = {
        offerToReceiveAudio: 0,
        offerToReceiveVideo: 1,
        iceRestart: 1,
        voiceActivityDetection: 0
    };

    async function offer(sender_offer) {
        const peerConnection = window.peerConnection = new RTCPeerConnection(null);
        try {
            await window.peerConnection.setRemoteDescription(sender_offer);
        } catch (e) {
            console.log(e);
        }
       
       const answer = await window.peerConnection.createAnswer();

       let url = '{{server_name}}:{{server_port}}/offer';
       $.ajax({
        type: "POST",
        url: url,
        data: {
            'sid': window.sessionStorage.getItem('sid'),
            'answer': JSON.stringify(answer),
            'type': 'reciever'
        },
            success: (data) => {
                console.log(data);
            },
        });

    }

</script>
</body>

</html>