<!DOCTYPE html>
<html>
<head>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/socket.io/client-dist/socket.io.min.js"></script>
</head>

<body>
    <h1>Accept video ({{server_name}})</h1>

    <div id="acceptDiv" style="display: none">
        Reciever login:<input type="text" id="calleeName" />
        <video autoplay="true" width="200" id="myVideo"></video>
        <button id="acceptButton">Accept</button>
        <button id="declineButton">Decline</button>
    </div>

    <div id="connectDiv">
        <input value="woman" type="text" id="username" />
        <button id="connectButton">Connect</button>
    </div>


<script>

    $('#connectButton').on('click', () => {
        const socket = io('{{socket_url}}', {transports:['websocket']}); 
        socket.on('connect', (msg) => {
            console.log('Connection was established');
            window.sessionStorage.setItem('sid',socket.id);
            socket.emit('login',{login: $('#username').val()});
            $('#connectDiv').hide();
        });

        socket.on('calling', (msg) => {
            $('#calleeName').val(msg.login);
            $('#acceptDiv').show();
        });

        socket.on('reciever_answer', (msg) => {
             console.log('Answer from reciecer!');
             setAnswer(msg);
        });

        socket.on('ice_candidate', (msg) => {
            console.log('get Ice candidate...')
            const ice = JSON.parse(msg.ice);
            if (ice !== null) {
                reciveIceCandidate(ice);
            }
        });

    })


    async function reciveIceCandidate(ice) { 
            await window.peerConnection.addIceCandidate(ice);
            console.log(window.peerConnection);
    }

    async function setAnswer(msg) {
        await window.peerConnection.setRemoteDescription(
            JSON.parse(msg.reciever_answer));
        console.log(window.peerConnection);
    }

    $('#acceptButton').on('click', accept);
    function accept(e) {
      
       let url = '{{server_name}}/accept';
       $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({
                'login': window.sessionStorage.getItem('sid'),
            }),
            contentType: "application/json",
            success: (data) => {
                console.log(data);
                initVideoStream();
            }
        });

    }

    $('#declineButton').on('click', decline);
    function decline(e) {
      
       let url = '{{server_name}}/decline';
       $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({
                'login': window.sessionStorage.getItem('sid'),
            }),
            contentType: "application/json",
            success: (data) => {
                console.log(data);
                
            }
        });

    }

    const constraints = window.constraints = {
        audio: false,
        video: true
    };

    async function initVideoStream(e) {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccessInitVideo(stream);
        } catch (e) {
            console.log(e);
        }
    }

    function handleSuccessInitVideo(stream) {
        const video = document.querySelector('#myVideo');
        const videoTracks = stream.getVideoTracks();
        console.log('Got stream with constraints:', constraints);
        console.log(`Using video device: ${videoTracks[0].label}`);
        window.stream = stream; // make variable available to browser console
        video.srcObject = stream;
        offer(videoTracks, stream);
    }

    const offerOptions = {
        offerToReceiveAudio: 0,
        offerToReceiveVideo: 1,
        iceRestart: 1,
        voiceActivityDetection: 0
    };

    function onIceCandidate(e) {
        console.log(e);
       let url = '{{server_name}}:{{server_port}}/ice';
       $.ajax({
        type: "POST",
        url: url,
        contentType: "application/json",
        data: JSON.stringify({
            'sid': window.sessionStorage.getItem('sid'),
            'ice': JSON.stringify(e.candidate),
        }),
            success: (data) => {
                console.log(data);
            },
        });
    }

    async function offer(tracks,localStream) {
       const peerConnection = window.peerConnection = new RTCPeerConnection(null);
      tracks.forEach(track => window.peerConnection.addTrack(track, localStream));
      //console.log(localStream.getTracks());

       window.peerConnection.addEventListener('icecandidate', e => onIceCandidate(e));
       const offer = await peerConnection.createOffer(offerOptions);
       await peerConnection.setLocalDescription(offer);
       console.log(window.peerConnection);
       let url = '{{server_name}}:{{server_port}}/offer';
       $.ajax({
        type: "POST",
        url: url,
        contentType: "application/json",
        data: JSON.stringify({
            'sid': window.sessionStorage.getItem('sid'),
            'offer': JSON.stringify(offer),
            'reciever_login': $('#calleeName').val(),
            'type': 'sender'
        }),
            success: (data) => {
                console.log(data);
            },
        });

    }
    

</script>
</body>

</html>